
<% provide(:title, "Notes") %>

<div class="g-doc">
  <div class="m-aside">
    <div class="m-summary" id="js-menu">
      <!--                分类-->
      <div class="m-summary-content" id="js-menu-content">

        <div class="m-summary-block">
          <div class="m-summary-title">Linux</div>
          <ul class="m-summary-list indent"><li class="item">
              <%= link_to "CentOS 7安装gcc,并编辑运行第一个C程序", "/note/documents/15ce13b9e8d36381b12cd8f381d43536", class: "href" %>
          </li></ul>
        </div>

        <div class="m-summary-block">
          <div class="m-summary-title">C/C++</div>
          <ul class="m-summary-list indent">
          </ul>
        </div>

        <div class="m-summary-block">
          <div class="m-summary-title">Git</div>
          <ul class="m-summary-list indent">
            <li class="item">
              <%= link_to "SourceTree提示Authentication failed for 的解决方案", "/note/documents/f8f2f9aedd2df5c4a0aa663c3567a148", class: "href" %>
            </li>

            <li class="item">
              <%= link_to "Git错误信息解决记录", "/note/documents/4ad587f95fc02cf0c074fbd61ae3a23f", class: "href" %>
            </li>
          </ul>
        </div>

        <div class="m-summary-block">
          <div class="m-summary-title">Windows程序开发</div>
          <ul class="m-summary-list indent">
            <li class="item">
              <%= link_to "如何在Windows窗口中插入图片", "/note/documents/1f492b75971f79736d78b0c0f235fcaa", class: "href" %>
            </li>
            <li class="item">
              <%= link_to "C++  socket网络编程", "/note/documents/cb2130a84b2edb2b4e840e7b003e553a", class: "href" %>
            </li>
            <li class="item">
              <%= link_to "MFC中创建透明画刷", "/note/documents/3fe92390c76e458dd1cd2b57e04dec93", class: "href" %>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="m-main" id="js-panel">
    <header class="m-header" id="js-header">

      <div class="m-header-title js-logo">
        <a href="/note" target="_self">
          <%= image_tag("dog@1x.png", alt: "Lyons", width: "36") %>
          <h6 class="name">YDoc</h6>
        </a>
      </div>
      <div>
        <div class="m-search">
          <div class="icon">&#xf0fd;</div>
          <input type="text" class="input js-input" placeholder="搜索"/>
          <div class="m-search-result js-search-result"></div>
        </div>
      </div>

      <nav class="m-header-nav js-nav">
        <ul class="m-header-items">
          <li class="item "><%= link_to "documents", "/note/documents", class: "href" %></li>
          <li class="item "><%= link_to "about", "nts", class: "href" %></li>
        </ul>
      </nav>

      <div id="js-nav-btn" class="m-header-btn ui-font-ydoc"></div>
    </header>

    <div class="containers">

      <div class="row">
        <div class="col-xs-16 main">
          <div class="split-line"></div>
          <div id="list-container">
            <!-- 文章列表模块 -->
            <ul class="note-list" infinite-scroll-url="/">

              <li id="note-89113058" data-note-id="89113058" class="have-img">
                <a class="wrap-img" href="/p/e48ca29eac18" target="_blank">
                  <img data-echo="https://upload-images.jianshu.io/upload_images/1768343-a11a0049f49679e9.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                       class="img-blur-done"
                       src="https://upload-images.jianshu.io/upload_images/1768343-a11a0049f49679e9.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank" href="/p/e48ca29eac18">人活这一辈子，还应该有些另外的什么才对</a>
                  <p class="abstract">
                    今天的天气不好也不坏。没有太阳不热，还有点小风儿，凉快！ 一早起床我跟老李合作，他烧火我揉面，蒸了一锅马齿苋的菜馍馍。 “快看！快来看！”吃了饭...
                  </p>
                </div>
              </li>

              <li id="note-90202866" data-note-id="90202866" class="have-img">
                <a class="wrap-img" href="/p/086023890abf" target="_blank">
                  <img class="img-blur-done"
                       src="https://upload-images.jianshu.io/upload_images/15964792-7d80a0b8e1f35d7e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank" href="/p/086023890abf">儿时美味儿</a>
                  <p class="abstract">
                    小时候在农村，夏天有两种美味儿不可不知。 夏天雨多，如果有十天半月不下雨，孩子们暴躁，大人发脾气，空气里都是火药味儿。有时候，总疑心墙角的柴火垛...
                  </p>
                </div>
              </li>

              <!--                    <div data-vcomp="baidu-ad" props-data-place="首页信息流广告" props-data-ad-id="u6562316"></div>-->

              <li id="note-88596480" data-note-id="88596480" class="have-img">
                <a class="wrap-img" href="/p/e0d70b407455" target="_blank">
                  <img class="img-blur-done"
                       src="https://upload-images.jianshu.io/upload_images/15964792-7d80a0b8e1f35d7e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank" href="/p/e0d70b407455">童年</a>
                  <p class="abstract">
                    文／黄鹤飞 我们怀念童年，怀念的就是那一份懵懂无知，却轻而易举的快乐。 ——题记 又是一年六一 不免...
                  </p>
                </div>
              </li>

              <li id="note-86910388" data-note-id="86910388" class="">
                <div class="content">
                  <a class="title" target="_blank" href="/p/9bf14398445f">攥着药瓶死去</a>
                  <p class="abstract">
                    很多年前，我在《读者文摘》上看过一篇文章，是讲一位老者独死在家中。他有心脏病，家里备了治疗心脏病的药物，但是老人不识字，看不懂药瓶上的说明书，在...
                  </p>
                </div>
              </li>

              <li id="note-88049818" data-note-id="88049818" class="have-img">
                <a class="wrap-img" href="/p/ce720f8cbd48" target="_blank">
                  <img data-echo="https://upload-images.jianshu.io/upload_images/13724395-4f4a880c0828ee47?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                       class="img-blur-done"
                       src="https://upload-images.jianshu.io/upload_images/13724395-4f4a880c0828ee47?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank" href="/p/ce720f8cbd48">佟丽娅，离婚快乐</a>
                  <p class="abstract">
                    佟丽娅和陈思诚离婚了，选择在520这天官宣。 很多人都觉得没有意外，在俩人的微博下，有恭喜佟丽娅的声音。 佟丽娅和陈思诚结婚7年，没有迈过七年之...
                  </p>
                </div>
              </li>

              <li id="note-86320201" data-note-id="86320201" class="have-img">
                <a class="wrap-img" href="/p/94effb9ae2fa" target="_blank">
                  <img data-echo="https://upload-images.jianshu.io/upload_images/1649755-e83ca04adeeeb3ed?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                       class="img-blur-done"
                       src="https://upload-images.jianshu.io/upload_images/1649755-e83ca04adeeeb3ed?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank"
                     href="/p/94effb9ae2fa">“不爱了，谁没点小心眼呢”女子将计就计，离婚后，前夫人财两空</a>
                  <p class="abstract">
                    我当初死心塌地，不顾所有人的劝阻，铁了心要嫁给李彬的时候。是怎么都不会想到，有一天，这个曾经口口声声说会一辈子对我好，让我在父母面前能有底气的男...
                  </p>
                </div>
              </li>

              <li id="note-86765160" data-note-id="86765160" class="have-img">
                <a class="wrap-img" href="/p/9a2e2c821214" target="_blank">
                  <img data-echo="https://upload-images.jianshu.io/upload_images/14600726-133620b5ca7febc6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                       class="img-blur-done"
                       src="https://upload-images.jianshu.io/upload_images/14600726-133620b5ca7febc6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank" href="/p/9a2e2c821214">为救狗狗，家破人亡</a>
                  <p class="abstract">
                    狗狗，给家中增添了不少欢乐，可就在前天遛狗时，一不小心狗狗掉进了污水井，着急的老婆赶紧求救老公，可惜老公下井后再也没有上来，被救上来时已经死亡。...
                  </p>
                </div>
              </li>


            </ul>
            <!-- 文章列表模块 -->
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

