<% provide(:title, "Notes") %>

<div class="g-doc">
  <div class="m-aside">
    <div class="m-summary" id="js-menu">
      <!--                分类-->
      <div class="m-summary-content" id="js-menu-content">

        <div class="m-summary-block">
          <div class="m-summary-title">Linux</div>
          <ul class="m-summary-list indent">
            <li class="item">
              <%= link_to "CentOS 7安装gcc,并编辑运行第一个C程序", "/note/documents/15ce13b9e8d36381b12cd8f381d43536", class: "href" %>
            </li>
          </ul>
        </div>

        <div class="m-summary-block">
          <div class="m-summary-title">C/C++</div>
          <ul class="m-summary-list indent">
          </ul>
        </div>

        <div class="m-summary-block">
          <div class="m-summary-title">Git</div>
          <ul class="m-summary-list indent">
            <li class="item">
              <%= link_to "SourceTree提示Authentication failed for 的解决方案", "/note/documents/f8f2f9aedd2df5c4a0aa663c3567a148", class: "href" %>
            </li>

            <li class="item">
              <%= link_to "Git错误信息解决记录", "/note/documents/4ad587f95fc02cf0c074fbd61ae3a23f", class: "href" %>
            </li>
          </ul>
        </div>

        <div class="m-summary-block">
          <div class="m-summary-title">Windows程序开发</div>
          <ul class="m-summary-list indent">
            <li class="item">
              <%= link_to "如何在Windows窗口中插入图片", "/note/documents/1f492b75971f79736d78b0c0f235fcaa", class: "href" %>
            </li>
            <li class="item">
              <%= link_to "C++  socket网络编程", "/note/documents/cb2130a84b2edb2b4e840e7b003e553a", class: "href" %>
            </li>
            <li class="item">
              <%= link_to "MFC中创建透明画刷", "/note/documents/3fe92390c76e458dd1cd2b57e04dec93", class: "href" %>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="m-main" id="js-panel">
    <header class="m-header" id="js-header">

      <div class="m-header-title js-logo">
        <a href="/note" target="_self">
          <%= image_tag("dog@1x.png", alt: "Lyons", width: "36") %>
          <h6 class="name">YDoc</h6>
        </a>
      </div>
      <div>
        <div class="m-search">
          <div class="icon">&#xf0fd;</div>
          <input type="text" class="input js-input" placeholder="搜索"/>
          <div class="m-search-result js-search-result"></div>
        </div>
      </div>

      <nav class="m-header-nav js-nav">
        <ul class="m-header-items">
          <li class="item "><%= link_to "documents", "/note/documents", class: "href" %></li>
          <li class="item "><%= link_to "about", "nts", class: "href" %></li>
        </ul>
      </nav>

      <div id="js-nav-btn" class="m-header-btn ui-font-ydoc"></div>
    </header>

    <div class="containers">

      <div class="row">
        <div class="col-xs-16 main">
          <div class="split-line"></div>
          <div id="list-container">
            <!-- 文章列表模块 -->
            <ul class="note-list" infinite-scroll-url="/">

              <li id="note-89113058" data-note-id="89113058" class="have-img">
                <a class="wrap-img" href="/p/e48ca29eac18" target="_blank">
                  <img data-echo="http://qiniu.ponglyon.com/upload_images/git/f8f2f9aedd2df5c4a0aa663c3567a148001.png?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                       class="img-blur-done"
                       src="http://qiniu.ponglyon.com/upload_images/git/f8f2f9aedd2df5c4a0aa663c3567a148001.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <%#= image_tag("dog@1x.png", alt: "Lyons", width: "36") %>
                <div class="content">
                  <a class="title" target="_blank" href="/note/documents/f8f2f9aedd2df5c4a0aa663c3567a148">SourceTree提示Authentication failed for
                    的解决方案</a>
                  <p class="abstract">
                    从远端拉取拉取失败，sourcetree提示Authentication failed（下图） 我在解决此问题的过程中掌握了三个方案。 方案一：...
                  </p>
                </div>
              </li>


              <li id="note-86910388" data-note-id="86910388" class="">
                <div class="content">
                  <a class="title" target="_blank" href="/note/documents/4ad587f95fc02cf0c074fbd61ae3a23f">Git错误信息解决记录</a>
                  <p class="abstract">
                    Git error: previous rebase directory .git/rebase-apply still exists but ...
                  </p>
                  <div class="meta">
                    <span class="time" data-shared-at="2020-10-31T16:20:07+08:00">2020.10.31 16:20</span>
                  </div>
                </div>
              </li>


              <li id="note-86910388" data-note-id="86910388" class="">
                <div class="content">
                  <a class="title" target="_blank" href="/note/documents/15ce13b9e8d36381b12cd8f381d43536">CentOS 7安装gcc,并编辑运行第一个C程序</a>
                  <p class="abstract">
                    一、安装gcc 错误信息记录：1、没有启用网络连接安装gcc时提示 ： could not retrieve mirrorlist .........
                  </p>
                </div>
              </li>


              <li id="note-86910388" data-note-id="86910388" class="">
                <div class="content">
                  <a class="title" target="_blank" href="/note/documents/4ad587f95fc02cf0c074fbd61ae3a23f">Git错误信息解决记录</a>
                  <p class="abstract">
                    Git error: previous rebase directory .git/rebase-apply still exists but ...
                  </p>
                </div>
              </li>

              <!--                    <div data-vcomp="baidu-ad" props-data-place="首页信息流广告" props-data-ad-id="u6562316"></div>-->

              <li id="note-88596480" data-note-id="88596480" class="have-img">
                <a class="wrap-img" href="/p/e0d70b407455" target="_blank">
                  <img data-echo="http://qiniu.ponglyon.com/upload_images/rails/495f6e9da5663cc6a71461e9f0cee3f6001.png?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                       class="img-blur-done"
                       src="http://qiniu.ponglyon.com/upload_images/rails/495f6e9da5663cc6a71461e9f0cee3f6001.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120"
                       alt="120"/>
                </a>
                <div class="content">
                  <a class="title" target="_blank" href="">Ruby on Rails部署</a>
                  <p class="abstract">
                    今天开始部署我的rails项目。下面记录整个过程： 把gem source改成淘宝镜像以提高rails安装速度 2.安装Nginx 3.安装Un...
                  </p>
                  <div class="meta">
                    <span class="time" data-shared-at="2020-08-06T10:15:17+08:00">2020.08.06 10:15</span>
                  </div>
                </div>
              </li>


            </ul>
            <!-- 文章列表模块 -->
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

